@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Monda&display=swap');

h1 {
    font-family: "monda", "sans-serif";
    margin-left: 41%;
}

:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

#container {
    margin-top: 5%;
    display: grid;
    height: 150px;
    width: 200px;
    float: left;
    margin-left: 28%;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
}



.gridItem {
  padding: 1em;
  border: 1px solid #ddd;
  text-align: center;
  
}

button {
    background-color: white;
    border-radius: 5px;
    width: auto;
    height: 30px;
    color: black;
    outline: none;
    float: left;
    margin-left: 2%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
    padding-top: 2px;
    font-family: "monda", "sans-serif";
    font-size: 70%;
    
}
